MODEL=bedrock/apac.amazon.nova-micro-v1:0
EMBEDDING_MODEL=cohere.embed-english-v3
RERANK_MODEL=cohere.rerank-v3-5:0

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=

# Disable CrewAI telemetry 
os.environ['CREWAI_DISABLE_TELEMETRY'] = 'true'

milvus_uri=
milvus_token=
milvus_collection_name="flexr"