.env
__pycache__/
.venv/
*.db
*.db.lock
logs/
sys.stdout
chroma_langchain_db/
data/
stdout
.DS_Store
resource
static/resource/
test.py
react-chat-app
compose_mount.yaml
test.ipynb
local.db
**/.vscode/*
src/flexr/main.py
chat.py
search.py
*.pdf
run.log
pid.file
db_config.ini
benchmark_questions.txt
benchmark_questions_reranked.txt